.accordion-element {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 0.5rem
}

.accordion-element:last-child {
  border-bottom: none;
}

.accordion-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}

.accordion-element .left-part {
  float: left;
}

.accordion-element .right-part h4 {
  margin: 0;
}

