.accordion-element {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid black;
}

.accordion-wrapper {
  height: 100%;
  overflow: scroll;
}

.accordion-wrapper:last-child {
  border-bottom: none;
}

.accordion-element .left-part, .accordion-element .right-part {
  display: inline;
}


